/* RESET */
/* zeramos a margin e o padding, como vamos usar com unidades relativa usamos o font size 100%, box-sizing: 
border-box: quando utilizamos um padding ele nao vai alterar a dimensao do elemento*/
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body { background-color: #f5f5f5;}

a { text-decoration: none;}

ul { list-style: none;}
img { max-width: 100%;}

/*CABEÇALHO*/
.cabecalho {
	width: 100%;
	float: left;
	padding: 3% 4%;
	
}
.logo {
	width: 90px;
	margin-left: -4%;
	height: 56px;
	float: left;
	background: url(../img/logoNormal.png) center center/90px no-repeat;
	font-size: 0;}

/*FAZENDO A UTILIZAÇÃO DO CABEÇALHO*/
.btn-menu {width:56px; height: 56px; float: right; text-align: center; color: #fff; border-radius: 56px; cursor: pointer; 
background: linear-gradient(to right,#62c2d0,#ffcc00); }

/*ESTRUTURNDO O MENU*/
.menu {display: none; width: 100%; height: 100%;text-align: center; position: fixed; background-color: rgba(0,0,0,0.9); top: 0; left: 0;}
.btn-close {font-size: 1.5em; color: #fff; float: right; cursor: pointer; margin: 2% 3% 0 0;}
.menu li {padding: 1.5%;}
/* Colocar uma margem apenas no home para não ficar colado no limite da página*/
.menu li:first-child{margin-top: 4%;}
.menu li a {font-size: 2em; color: #fff; padding: 1.5% 3%; }
.menu li a:hover {border:1px solid #ffcc00;}

/*ESTRUTURANDO O BANNER E USANDO OS BOTÕES INDIVIDUALMENETE*/
.banner {width: 100%; float: left; text-align: center; padding: 12% 12%; background: url(../img/banner.jpg) no-repeat fixed;}
.tittle {width: 100%;}
.tittle h2 {font-size: 3.5em;font-family: 'Abril Fatface', cursive; color: #ffcc00; font-weight: 700;}
.tittle h3 {font-size: 2.3em; color: #ffcc00; font-family:'Bebas Neue', sans-serif; font-weight: 500; padding-top: 2%}

/*ESTRUTURANDO OS SERVIÇOS E TEXTOS*/
.servicos {width: 100%; float: left; padding: 3% 4%; text-align: center;}
.servico {width: 100%; background-color: #fff; text-align: left; border-radius: 7px; margin-bottom: 3%;}
.servico img {border-radius: 7px 7px 0 0;}
.servicos h2{ padding: 0 0 3% 3%; font-size: 3.5em; font-family: 'Abril Fatface', cursive; text-align: center;
 color: #000; }
.inner {padding: 7%;}
.inner a {font-size: 1.5em; color: #130400; font-weight: 700;}
.inner h4 {font-size: 1.2em; color: #130400; margin-top: 2%;}
.inner p {margin-top: 6%; color: #130400; line-height: 1.5em;}

/*SOBRE*/
.sobre h2 {width: 100%; float: left; text-align: center; padding: 3% 4%; color: #62c2d0; padding-top: 2%; background-color: #f4ff81;
 font-size: 3.5em; font-family: 'Abril Fatface', cursive; color: #000; background-color: #fff176  ;}
.sobre h3 {width: 100%; float: left; text-align: center; padding: 3% 4%; font-size: 2.3em; color: #62c2d0; 
	font-family:'Bebas Neue', sans-serif; font-weight: 100; padding-top: 2%; background-color: #fff176;}

/*CONTATO*/
.contato h2 {width: 100%; float: left; text-align: center; padding: 3% 4%; color: #fff176; padding-top: 2%; background-color: #f4ff81;
 font-size: 3.5em; font-family: 'Abril Fatface', cursive; color: #000; background-color: #62c2d0  ;}
 .contato h4 {width: 100%; float: left; text-align: center; padding: 3% 4%; font-size: 2.3em; color: #fff176; 
	font-family:'Bebas Neue', sans-serif; font-weight: 100; padding-top: 2%; background-color: #62c2d0;}
.contato h4 img {width: 5%;}
/* RODAPÉ */
.rodape {width: 100%; float: left; padding: 3% 4%; text-align: center;
background: linear-gradient(to right,#62c2d0,#ffcc00);}
.social-icons a {font-size: 1.5em; color: rgba(255,255,255,0.7); margin-right: 3%;}
/* Zerar a margem direita o ícone envelope no rodapé*/
.social-icons a:last-child{ margin-right: 0; } 
.social-icons a:hover {color: rgba(255,255,255);}
.copyright {margin-top: 2%; color: rgba(255,255,255,0.7); font-weight:bold; }

/*====== MOBILE FIRST ======*/

/* MEDIA QUERIES: media type + uma expressão que define quando o media type será utilizado*/
/* SMALL DEVICES - SMARTPHONES*/

@media screen and (min-width: 320px) {
.logo { width: 214px;  }
.tittle h2 {font-size: 2.3em;}
.tittle h3 {font-size: 1.7em;}
.sobre h2 {font-size: 2.3em;}
.sobre h3 {font-size: 1.3em;}
.contato h2 {font-size: 2.3em;}
.contato h4 {font-size: 1.3em;}
.servicos h2{ font-size: 2.3em; }


}

/* SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px) {
.servico {width: 48%; float: left; margin-right: 2%; }
.servico:nth-child(4){margin-left: 0%;}
.logo {width: 290px; height: 60px; float: left; background: url(../img/nomeLogoLado1.png) center center /290px no-repeat; }

}

/* MEDIUM DEVICES - TABLETS E DESKTOPS*/
@media screen and (min-width: 960px) {
.title {width: 70%; float: left; text-align: left; }
.title h2 {font-size: 3em; }
.title h3 {font-size: 2em; }
.servico {width: 31.3%; }
.servico:nth-child(2){margin-right: 2%; }
.servicos h2{  font-size: 3.5em; }
.cabecalho {height: 120px; }
}

/* LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1024px) {
.btn-menu {display: none; }
.btn-close {display: none; }
.menu {width: auto; height: 56px; line-height: 56px; float: right; background-color:#f5f5f5; display: block !important;
 position: static; }
.menu li {padding: 0; float: left; }
.menu li a {color: #62c2d0; font-size: 1.2em; padding: 15px; }
/* Zerar a margem que tinhamos colocado no começo*/
.menu li:first-child{margin-top: 0;}
.menu li a :hover {border: none; color: #62c2d0 ; }
.tittle h2 {font-size: 3.0em;}
.tittle h3 {font-size: 2.0em;}
.sobre h2 {font-size: 2.9em;}
.sobre h3 {font-size: 1.6em;}
.contato h2 {font-size: 2.9em;}
.contato h4 {font-size: 1.6em;}
.inner p {font-size: 0.9em;}
.servico {width: 22%; }
.servico:nth-child(1){margin-left: 2.5%; }
.servico:nth-child(2){margin-left: 2.5%; }
.servico:nth-child(3){margin-left: 2.5%; }
.inner h4 {font-size: 1.1em;}
}
@media screen and (min-width: 1440px) {
.inner p {font-size: 1.0em;}
.inner h4 {font-size: 1.3em;}
.sobre h2 {font-size: 3.0em;}
.sobre h3 {font-size: 1.8em;}
.contato h2 {font-size: 3.0em;}
.contato h4 {font-size: 1.8em;}
}


